* {
    padding: 0;
    margin: 0;
}


body {
    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;

    /* same as above */
    font: normal 12px Arial, Helvetica, sans-serif;

}

.container {
    width: 80%;
    margin: auto;
}

.box-1 {
    background-color: #333;
    color: #fff;

    border-top: 5px red solid;
    border-right: 5px red solid;
    border-bottom: 5px red solid;
    border-left: 5px red solid;

    /* same as above */

    border: 5px red solid;

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    /* padding: 10px 20px 10px 20px; */

    /* same as above */

    padding: 20px;
}

.box-1 h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}


.box-2 {
    margin-top: 10px;
    border: 3px #ccc dotted;
}


.categories {
    border: 2px #ccc solid;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}

.categories h3 { 
    text-align: center;
}

.categories ul {
    padding: 0;
    list-style: square;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

a:visited {
    color: yellow
}

.categories li {
    padding-bottom: 6px;
    border-bottom: dotted 3px #333;
    list-style-image: url('../img/check.png');
}

.my-form {
    padding: 20px;
}

.my-form .form-group { 
    padding-bottom: 15px;
}

.my-form label {
    display: block;
}

.my-form input[type="text"],
.my-form input[type="email"],
.my-form input[type="password"],
.my-form input[type="number"],
.my-form textarea {
    padding: 8px;
    width: 100%;
}

.my-form input[type="submit"]{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

/* same as above */

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.button:hover {
    background-color: red;
    color: #fff;
}

.block {
    float: right;
    width: 33.33%;
    border: 1px solid ;
    padding: 10px;
    box-sizing: border-box;
}

.clr {
    clear: both;
}

#main-block {
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}


.p-box{
    width: 200px;
    height: 200px;
    border: 1px solid #000;

    margin-top: 30px;
    position: relative;
    
}

.p-box h1{
    position: absolute;
    top: 50px;
    left: 25px;
}

.p-box h2{ 
    position: absolute;
    bottom: 20px;
    right: 10px
}

.fix-me {
    position: fixed;
    top: 400px;
}

.my-list li:first-child {
    background-color: red;
}

.my-list li:last-child {
    background-color: green;
}

.my-list li:nth-child(5) {
    background-color: yellow;
}

.my-list li:nth-child(even) {
    background-color: gray;
}


